In [9]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM notes LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
notes_df = pd.read_sql_query(query, conn)

In [10]:
notes_df.head()

,note_id,subject_id,hadm_id,note_type,Service,Allergies,Chief complaint,Major surgical or invasive procedure,History of present illness,Past medical history,Medications on admission,Discharge medications,Discharge disposition,Discharge diagnosis,Discharge condition,Discharge instructions,Followup instructions,Family History,num_prior_office_visits,gender
0,19536886-discharge summary-14,19536886,22833809,discharge summary,medicine,no known allergies / adverse drug reactions at...,None,endoscopic retrograde cholangiopancreatography,___ yo w/ recent choledocholithiasis and chola...,(obtained from dr. ___ ___ past oncologic hist...,the preadmission medication list may be inaccu...,1. acetaminophen 500 magnesium by mouth q8h:as...,home,choledocholithiasis aortic stenosis chronic ki...,mental status: clear and coherent. level of co...,intrathecal was a pleasure taking care of you ...,___,"daughter with melanoma, multiple family member...",1,f
1,14786890-discharge summary-11,14786890,20992316,discharge summary,neurology,no known allergies / adverse drug reactions at...,slurred speech,none,this morning when he got up around 8 operating...,-hyperlipidemia -hypertension -reports diabete...,the preadmission medication list incentive spi...,1. aspirin 81 magnesium by mouth daily 2. ator...,home,acute ischemic stroke,mental status: clear and coherent. level of co...,"dear ___, you were hospitalized due to symptom...",___,non-contributory,1,m
2,11107403-discharge summary-2,11107403,22583847,discharge summary,medicine,no known allergies / adverse drug reactions at...,none,liver biopsy,___ year old male with narcotic dependence who...,"? intravenous drug user, chronic pain narcotic...",preadmission medications listed airway resista...,1. fentanyl patch 50 mcg/h total protein q72h ...,home,primary diagnosis: acute hepatitis hepatitis c,mental status: clear and coherent. level of co...,"dear medical record. ___, intrathecal was a pl...",___,dad with crohn's disease,0,m
3,10626168-discharge summary-9,10626168,20169881,discharge summary,medicine,silver / vancomycin attending: ___.,shortness of breath,none,"___ year old woman with pmhx hfpef, atrial fib...",past medical and surgical history: ___ chronic...,the preadmission medication list incentive spi...,1. ferrous gluconate 324 magnesium by mouth 3x...,home with service facility: ___,primary diagnosis acute exacerbation of diasto...,mental status: clear and coherent. level of co...,"dear multiple sclerosis. ___, you were admitte...",___,cardiac death.,0,f
4,16609379-discharge summary-13,16609379,26411257,discharge summary,orthopaedics,antivert / meclizine attending: ___.,right hip wound,___ - right hip superficial i&d ___ - right hi...,the patient incentive spirometry a ___ year ol...,bipolar disorder s/p right femur fracture soci...,coumadin vitamin d furosemide,1. acetaminophen 650 magnesium by mouth q6h:as...,home with service facility: ___,right hip infection,mental status: clear and coherent. level of co...,instructions after orthopedic surgery - you we...,___,nasal cannula,2,f

In [17]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM edstays LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
ed_df = pd.read_sql_query(query, conn)

In [18]:
ed_df.head()

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition
0,10002131,24065018.0,34163344,2128-03-17 09:53:00,2128-03-17 17:05:00,F,WHITE,AMBULANCE,ADMITTED
1,10002528,23193578.0,34929026,2168-12-11 00:20:00,2168-12-11 05:14:42,F,WHITE,AMBULANCE,ADMITTED
2,10002528,28605730.0,38992246,2170-03-12 22:02:00,2170-03-13 17:10:00,F,WHITE,AMBULANCE,ADMITTED
3,10002800,20798638.0,39700270,2164-07-12 15:33:00,2164-07-12 21:52:00,F,WHITE,WALK IN,ADMITTED
4,10003019,20030125.0,31055530,2174-12-25 20:29:00,2174-12-26 00:53:00,M,WHITE,WALK IN,ADMITTED

In [2]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM pyxis LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
py_df = pd.read_sql_query(query, conn)

In [3]:
py_df.head()

,subject_id,stay_id,charttime,med_rn,name,gsn_rn,gsn
0,10002131,34163344,2128-03-17 13:43:00,1,Enoxaparin Sodium 60mg SYR,1,27993.0
1,10002131,34163344,2128-03-17 13:59:00,2,Potassium Chloride (Po 20mEq PKT,1,1262.0
2,10002131,34163344,2128-03-17 14:01:00,3,Potassium C 20mEq/50mL 50mL IVPB,1,45309.0
3,10002528,38992246,2170-03-13 17:05:00,1,LORazepam,1,3753.0
4,10002528,38992246,2170-03-13 17:05:00,1,LORazepam,2,3755.0

In [7]:
py_df[py_df['subject_id'] == 10002131]

,subject_id,stay_id,charttime,med_rn,name,gsn_rn,gsn
0,10002131,34163344,2128-03-17 13:43:00,1,Enoxaparin Sodium 60mg SYR,1,27993.0
1,10002131,34163344,2128-03-17 13:59:00,2,Potassium Chloride (Po 20mEq PKT,1,1262.0
2,10002131,34163344,2128-03-17 14:01:00,3,Potassium C 20mEq/50mL 50mL IVPB,1,45309.0

In [26]:
notes_df[notes_df['subject_id'] == 10002131]

Empty DataFrame
Columns: [note_id, subject_id, hadm_id, note_type, Service, Allergies, Chief complaint, Major surgical or invasive procedure, History of present illness, Past medical history, Medications on admission, Discharge medications, Discharge disposition, Discharge diagnosis, Discharge condition, Discharge instructions, Followup instructions, Family History, num_prior_office_visits, gender]
Index: []

In [19]:
ed_df[ed_df['subject_id'] == 10002131]

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition
0,10002131,24065018.0,34163344,2128-03-17 09:53:00,2128-03-17 17:05:00,F,WHITE,AMBULANCE,ADMITTED

In [23]:
triage_df[triage_df['subject_id'] == 10002131]

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10002131,34163344,98.7,96.0,20.0,96.0,122.0,48.0,0,3.0,Hip pain

In [25]:
v_df[v_df['subject_id'] == 10002131]

,subject_id,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,10002131,34163344,2128-03-17 09:53:00,98.7,96.0,20.0,96.0,122.0,48.0,None,0
1,10002131,34163344,2128-03-17 10:26:00,97.4,69.0,18.0,94.0,123.0,51.0,None,4
2,10002131,34163344,2128-03-17 11:30:00,98.1,73.0,16.0,100.0,116.0,55.0,None,0
3,10002131,34163344,2128-03-17 14:28:00,97.9,79.0,18.0,100.0,125.0,53.0,None,0

In [20]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM triage LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
triage_df = pd.read_sql_query(query, conn)

In [21]:
triage_df.head()

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10002131,34163344,98.7,96.0,20.0,96.0,122.0,48.0,0,3.0,Hip pain
1,10002528,34929026,98.1,76.0,14.0,96.0,130.0,78.0,0,2.0,"Lethargy, Transfer"
2,10002528,38992246,97.0,60.0,18.0,96.0,155.0,83.0,0,2.0,Psych eval
3,10002800,39700270,98.2,79.0,18.0,97.0,118.0,72.0,5,2.0,"Abd pain, Dental pain, Pregnant"
4,10003019,30480460,98.2,113.0,18.0,97.0,112.0,75.0,0,2.0,Melena

In [24]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM vitalsign LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
v_df = pd.read_sql_query(query, conn)

In [13]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('med.db')

# SQL query to select the first 100 rows from the 'notes' table
query = 'SELECT * FROM vitalsign LIMIT 100;'

# Use pandas to execute the query and load the results into a DataFrame
vital_df = pd.read_sql_query(query, conn)

In [14]:
vital_df.head()

,subject_id,stay_id,charttime,temperature,heartrate,resprate,o2sat,sbp,dbp,rhythm,pain
0,10002131,34163344,2128-03-17 09:53:00,98.7,96.0,20.0,96.0,122.0,48.0,None,0
1,10002131,34163344,2128-03-17 10:26:00,97.4,69.0,18.0,94.0,123.0,51.0,None,4
2,10002131,34163344,2128-03-17 11:30:00,98.1,73.0,16.0,100.0,116.0,55.0,None,0
3,10002131,34163344,2128-03-17 14:28:00,97.9,79.0,18.0,100.0,125.0,53.0,None,0
4,10002528,34929026,2168-12-11 00:24:00,98.1,76.0,14.0,96.0,130.0,78.0,None,0

In [18]:
from langchain.prompts import PromptTemplate
from langchain_core.messages import HumanMessage
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents import AgentExecutor
from prompts import data_dictionary
import re
from langchain.chains import LLMChain
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.agents import Tool
from langchain.prompts import PromptTemplate
from langchain.agents import AgentOutputParser

In [86]:
query = "What long-term monitoring strategies are recommended for subject_id 10002131 for these medications?"

In [91]:
template = """
    As a data-driven assistant, your role is to assist users in querying a comprehensive database called 'med.db', which contains detailed information about patient medical records, including emergency department stays, patient identifiers, medical notes, triage information, and vital signs data.
    
    You will interact with diverse medical data repositories, each represented by SQL data tables, to address complex queries involving patient history, treatment records, and other specific healthcare-related user needs.
    
    DATABASE AND TABLES DATA OVERVIEW:
    The 'med.db' database ONLY CONTAINS, including 'edstays', 'patient_ids', 'notes', 'triage', and 'vitalsign'. Each table has its unique schema, detailed in the provided data dictionaries.
    {data_dictionaries}
    
    DATASETS:
    ONLY REFER to the data dictionaries provided for 'edstays', 'patient_ids', 'notes', 'triage', and 'vitalsign' to understand the schema and data types of each table.
    
    USER INQUIRY:
    {question}
    
    Given the user's inquiry and any additional contextual information provided, your task is to formulate and present SQL queries that would retrieve the relevant information from the 'little_bear.db' database.
    
    RESPONSE:
    To find the information requested, use the following SQL queries:
    
    [START_0] ... [END_0], [START_1] ... [END_1], ....
    EXAMPLE of Queries: [START] SELECT * FROM medrecon\nWHERE subject_id = 19536886; [END_0], [START] SELECT 'Medications on admission', 'Discharge medications', 'allergies' FROM notes\nWHERE subject_id = 19536886; [END_0]
    - Retrieve the relevant patient information based on the provided identifiers (such as subject_id or stay_id)
    - Access medical notes and details on treatments, medications, and patient history
    - Analyze triage data to evaluate patient condition upon admission
    - Examine vital signs records to monitor patient health over time
    
    Response example format:
    To analyze the patient records you're interested in, execute the SQL queries provided above. Each query will help you access detailed information based on your specific research questions or healthcare-related criteria.
    
    RETURN:
     - ONLY RETURN SQL QUERIES in a string - consisting of annotation [START_0] ... [END_0], [START_1] ... [END_1], ....
     - DO NOT JOIN SQL TABLES
     - USE subject_id to query! THERE IS NO NAME COLUMN NAME
     - ALSO, create SQL Queries that retrieve additional information of features in the data_dictionary that a user may be interested in
    
    {agent_scratchpad}
    
    """
llm = ChatOpenAI(temperature=0, openai_api_key='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', model="gpt-4")
prompt = PromptTemplate(template=template, input_variables=["data_dictionaries", "question", "agent_scratchpad"])
llmchain = LLMChain(prompt=prompt, llm=llm)
    
response = llmchain.invoke({"data_dictionaries": data_dictionary,
                                    "question": query,
                                    "agent_scratchpad": ""
                                    })
string_response = response['text']

In [1]:
def drop_empty_dfs(dfs):
    """
    Drop empty DataFrames from a list of DataFrames.

    Args:
        dfs (list): A list of pandas DataFrames.

    Returns:
        list: A list of non-empty pandas DataFrames.
    """
    non_empty_dfs = []
    for df in dfs:
        if not df.empty:
            non_empty_dfs.append(df)
    return non_empty_dfs

In [93]:
pattern = r"\[START_\d+\]\s*(.*?)\s*\[END_\d+\]"
queries = re.findall(pattern, string_response, re.DOTALL)
for i in queries:
    print(i)
df_ls = [pd.read_sql_query(query, conn) for query in queries]
dfs = drop_empty_dfs(df_ls)

SELECT * FROM medrecon WHERE subject_id = 10002131;
SELECT 'Medications on admission', 'Discharge medications', 'allergies' FROM notes WHERE subject_id = 10002131;
SELECT * FROM vitalsign WHERE subject_id = 10002131;
SELECT * FROM triage WHERE subject_id = 10002131;
SELECT * FROM edstays WHERE subject_id = 10002131;

In [94]:
dfs

[    subject_id   stay_id            charttime                          name  \
 0     10002131  34163344  2128-03-17 10:06:00                 Ascorbic Acid
 1     10002131  34163344  2128-03-17 10:06:00     aspirin [Lo-Dose Aspirin]
 2     10002131  34163344  2128-03-17 10:06:00     aspirin [Lo-Dose Aspirin]
 3     10002131  34163344  2128-03-17 10:06:00        Calcium with Vitamin D
 4     10002131  34163344  2128-03-17 10:06:00  Cholecalciferol (Vitamin D3)
 5     10002131  34163344  2128-03-17 10:06:00                       digoxin
 6     10002131  34163344  2128-03-17 10:06:00           donepezil [Aricept]
 7     10002131  34163344  2128-03-17 10:06:00                    furosemide
 8     10002131  34163344  2128-03-17 10:06:00                   Glucosamine
 9     10002131  34163344  2128-03-17 10:06:00          metoprolol succinate
 10    10002131  34163344  2128-03-17 10:06:00                  Multivitamin
 11    10002131  34163344  2128-03-17 10:06:00                      nystatin
 12    10002131  34163344  2128-03-17 10:06:00                       Ocuvite
 13    10002131  34163344  2128-03-17 10:06:00                       Ocuvite
 14    10002131  34163344  2128-03-17 10:06:00           raloxifene [Evista]
 15    10002131  34163344  2128-03-17 10:06:00                     torsemide

       gsn          ndc  etc_rn  etccode  \
 0    2124  11026261801       1    667.0
 1   16995  10135017301       1    575.0
 2   16995  10135017301       2   5843.0
 3   58018  10939023411       1   6143.0
 4   28465  10432023701       1    670.0
 5      18  10135053401       1    203.0
 6   29334  12280036715       1    564.0
 7    8208  10544013130       1    250.0
 8   30830  10939027122       1   1081.0
 9   16600  12280004900       1   2530.0
 10   2524  10770012801       1    701.0
 11   7282  16590017215       1   3284.0
 12  63995            0       1    704.0
 13  63995            0       2   5606.0
 14  37022  12280040230       1    180.0
 15  21408  31722053101       1    250.0

                                        etcdescription
 0         Vitamins - C, Ascorbic Acid and Derivatives
 1                               Salicylate Analgesics
 2       Platelet Aggregation Inhibitors - Salicylates
 3   Minerals and Electrolytes - Calcium Replacemen...
 4                            Vitamins - D Derivatives
 5                                Digitalis Glycosides
 6   Alzheimer's Disease Therapy - Cholinesterase I...
 7                                     Diuretic - Loop
 8                Alternative Therapy - Antiarthritics
 9                     Beta Blockers Cardiac Selective
 10                                      Multivitamins
 11  Dermatological - Antifungal Amphoteric Polyene...
 12              Multivitamin and Mineral Combinations
 13                  Alternative Therapy - Antioxidant
 14     Selective Estrogen Receptor Modulators (SERMs)
 15                                    Diuretic - Loop  ,
   'Medications on admission' 'Discharge medications' 'allergies'
 0   Medications on admission   Discharge medications   allergies,
    subject_id   stay_id            charttime  temperature  heartrate  \
 0    10002131  34163344  2128-03-17 09:53:00         98.7       96.0
 1    10002131  34163344  2128-03-17 10:26:00         97.4       69.0
 2    10002131  34163344  2128-03-17 11:30:00         98.1       73.0
 3    10002131  34163344  2128-03-17 14:28:00         97.9       79.0

    resprate  o2sat    sbp   dbp rhythm pain
 0      20.0   96.0  122.0  48.0   None    0
 1      18.0   94.0  123.0  51.0   None    4
 2      16.0  100.0  116.0  55.0   None    0
 3      18.0  100.0  125.0  53.0   None    0  ,
    subject_id   stay_id  temperature  heartrate  resprate  o2sat    sbp   dbp  \
 0    10002131  34163344         98.7       96.0      20.0   96.0  122.0  48.0

   pain  acuity chiefcomplaint
 0    0     3.0       Hip pain  ,
    subject_id     hadm_id   stay_id               intime              outtime  \
 0    10002131  24065018.0  34163344  2128-03-17 09:53:00  2128-03-17 17:05:00

   gender   race arrival_transport disposition
 0      F  WHITE         AMBULANCE    ADMITTED  ]

In [116]:
#### LangChain DataFrame Agent ####
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import ChatOpenAI
template = """
    As an internal medicine physician assistant, your role is to understand and review medical notes based on the retrieved data from various sources, including patient information, healthcare stays, clinical notes, triage information, and vital signs.
    
    Your objective is to provide comprehensive insights and recommendations while adhering to the following principles:
    
    1. Ensure that your analysis and recommendations promote equity
    2. Be transparent and explainable:
    3. Engage the patient to make recommendations align with their needs and values.
    4. Explore tradeoffs: Consider the potential tradeoffs and ethical implications of different approaches
    5. Establish accountabilities: Clearly define responsibilities and accountability measures to ensure the appropriate implementation and monitoring of recommendations.
    
    DATASETS:
    {dfs} - list of dataframes
    
    USER INQUIRY:
    {question}
    
    Your task is to review the medical notes and provide insights, recommendations, and any relevant information based on the physician's inquiry. Please ensure that your response addresses the principles outlined above.
    
    RESPONSE:
    {agent_scratchpad}
    
    Response should be in a structured format, addressing the key points and providing clear recommendations or insights based on the available data and the user's inquiry.
    """
llm = ChatOpenAI(temperature=0, openai_api_key='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', model="gpt-3.5-turbo")
prompt = PromptTemplate(template=template, input_variables=[ "dfs", "question", "agent_scratchpad"])
agent = create_pandas_dataframe_agent(
      llm,
      dfs,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    )

response = agent.invoke({'input': question + 'with this context ' + template})

In [118]:
print(question)

What long-term monitoring strategies are recommended for subject_id 19536886 for these medications?

In [117]:
print(response['output'])

**Subject ID: 19536886 Long-Term Monitoring Recommendations**

### Medications for Subject ID: 19536886
Based on the available data, the following medications are associated with subject ID 19536886:
1. Ascorbic Acid
2. Aspirin [Lo-Dose Aspirin]
3. Calcium with Vitamin D
4. Cholecalciferol (Vitamin D3)

### Long-Term Monitoring Strategies:
1. **Ascorbic Acid (Vitamins - C, Ascorbic Acid and Derivatives)**
   - **Recommendation:** Regular monitoring of vitamin C levels in the blood to ensure optimal levels for immune function and overall health.

2. **Aspirin [Lo-Dose Aspirin] (Salicylate Analgesics)**
   - **Recommendation:** Periodic assessment of platelet function and gastrointestinal health due to the antiplatelet and potential gastrointestinal side effects of aspirin.

3. **Calcium with Vitamin D (Minerals and Electrolytes - Calcium Replacement/Vitamin D Combinations)**
   - **Recommendation:** Long-term monitoring of calcium and vitamin D levels to prevent deficiencies and maintain bone health.

4. **Cholecalciferol (Vitamin D3) (Vitamins - D Derivatives)**
   - **Recommendation:** Regular monitoring of vitamin D levels to ensure adequacy for bone health and overall well-being.

### Monitoring Plan:
- **Frequency:** Consider annual or bi-annual assessments of vitamin C, calcium, and vitamin D levels.
- **Lab Tests:** Include blood tests for vitamin C, calcium, and vitamin D levels.
- **Consultation:** Periodic consultations with a healthcare provider to review medication efficacy and potential side effects.
- **Patient Education:** Educate the patient on the importance of adherence to medication regimen and regular monitoring.

### Considerations:
- **Patient Engagement:** Involve the patient in decision-making and monitoring processes to align with their values and preferences.
- **Equity:** Ensure access to necessary monitoring tests and healthcare resources for all patients.
- **Tradeoffs:** Discuss potential risks and benefits of long-term monitoring with the patient to make informed decisions.
- **Accountabilities:** Clearly define roles and responsibilities for both the healthcare provider and the patient in the monitoring plan.

By implementing a comprehensive long-term monitoring plan for the medications associated with subject ID 19536886, we aim to optimize the patient's health outcomes and ensure proactive management of any potential risks or deficiencies.

In [72]:
from langchain.agents.agent import RunnableAgent
from langchain_core.runnables.passthrough import RunnableAssign
from langchain_core.runnables import RunnableLambda
from langchain_core.runnables.base import RunnableBinding
from langchain.agents.output_parsers.react_single_input import ReActSingleInputOutputParser
dfs_head = ''

for df in dfs:
    dfs_head += f'DataFrame:\n{df.head()}\n\n'
agent_scratchpad= ''
agent = RunnableAgent(runnable=RunnableAssign(mapper={
    agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['dfs_head', 'input', 'agent_scratchpad'], partial_variables={'tools': 'python_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.', 'tool_names': 'python_repl_ast', 'num_dfs': '4'}, template="""
As an internal medicine physician, your role is to understand and review medical notes based on the retrieved data from various sources, including patient information, healthcare stays, clinical notes, triage information, and vital signs.

Your objective is to provide comprehensive insights and recommendations while adhering to the following principles:

1. Prompt healthcare equity in all phases: Ensure that your analysis and recommendations promote equitable access to healthcare services and eliminate biases or disparities.

2. Ensure healthcare algorithms are transparent and explainable: Prioritize the use of transparent and interpretable algorithms, and provide clear explanations for any predictive models or decision-making processes used.

3. Engage the community: Involve relevant stakeholders, including patients, caregivers, and healthcare professionals, to gather diverse perspectives and ensure that the analysis and recommendations align with their needs and values.

4. Explore tradeoffs: Consider the potential tradeoffs and ethical implications of different approaches, and actively seek to balance competing priorities while upholding ethical principles.

5. Establish accountabilities: Clearly define responsibilities and accountability measures to ensure the appropriate implementation and monitoring of recommendations.

DATA OVERVIEW:
{dfs_head}

USER INQUIRY:
{input}

{agent_scratchpad}

Your task is to review the medical notes and provide insights, recommendations, and any relevant information based on the user's inquiry. Please ensure that your response addresses the principles outlined above.

RESPONSE: {output}
""")
| RunnableBinding(bound=llm, kwargs={'stop': ['\nObservation']})
| ReActSingleInputOutputParser(), input_keys_arg=['dfs_head', 'input'], return_keys_arg=['output'])

In [77]:
response = agent.run({'dfs_head': dfs_head, "question": query,"agent_scratchpad": ""})

AttributeError: 'RunnableAgent' object has no attribute 'run'

In [ ]:
"""
    Your objective is to provide comprehensive insights and recommendations while adhering to the following principles:
    
    1. Prompt healthcare equity in all phases: Ensure that your analysis and recommendations promote equitable access to healthcare services and eliminate biases or disparities.
    2. Ensure healthcare algorithms are transparent and explainable: 
    3. Engage the patient: Involve relevant stakeholders, including patients, caregivers, and healthcare professionals, to gather diverse perspectives and ensure that the analysis and recommendations align with their needs and values.
    4. Explore tradeoffs: Consider the potential tradeoffs and ethical implications of different approaches
    5. Establish accountabilities: Clearly define responsibilities and accountability measures to ensure the appropriate implementation and monitoring of recommendation
"""